!!!
/[if IE 9] <html class="ie9" lang="en">
<!--[if gt IE 9]><!-->
%html{:lang => "en"}<>
	<!--<![endif]-->

	= Haml::Engine.new(File.read("dev/haml/partials/_doc_head.haml")).render

	%body

		%main{:role => "main"}

			%section.error

				%article

					%h1 Error 404
					%h2 Nothing to see here

		= Haml::Engine.new(File.read("dev/haml/partials/_js_analytics.haml")).render